.contenedor1{
        width: 369px;
        height: 180px;       
    } 
.contenedor2 {
        width: 370px;
        height: 180px;         
    } 
.contenedor3 {
        width: 370px;
        height: 180px;      
    } 
.contenedor4{
        width: 369px;
        height: 180px;     
    } 
.contenedor5 {
        width: 370px;
        height: 180px;
    } 
.contenedor6 {
        width: 370px;
        height: 180px;   
    }
.contenedor7{
        width: 369px;
        height: 180px;
    } 
.contenedor8 {
        width: 370px;
        height: 180px;
    } 
.contenedor9 {
        width: 370px;
        height: 180px;
    } 
.contenedor1 img {
        width: 369px;
        height: 180px;
        padding-right: 2px;
    } 
.contenedor2 img {
        width: 370px;
        height: 180px;
        padding-right: 2px;
    }
.contenedor3 img {
        width: 370px;
        height: 180px;
    } 
.contenedor4 img {
        width: 369px;
        height: 180px;
        padding-right: 2px;
        padding-top: 2px;
    } 
.contenedor5 img {
        width: 370px;
        height: 180px;
        padding-right: 2px;
        padding-top: 2px;
    } 
.contenedor6 img {
        width: 370px;
        height: 180px;
        padding-top: 2px;  
    } 
.contenedor7 img {
        width: 369px;
        height: 180px;
        padding-right: 2px;
        padding-top: 2px;
    } 
.contenedor8 img {
        width: 370px;
        height: 180px;
        padding-right: 2px;
        padding-top: 2px;
    }  
.contenedor9 img {
        width: 370px;
        height: 180px;
        padding-top: 2px;
    } 

.fas {
        padding-top: 12px;
}
.galeria {
         width: 55px;
         height: 35px;
         margin: 0 auto; 
         margin-top: 10px; 
}
.gris {
         background: rgba(0, 0, 0, 0.123);         
}